<%= link_to "All Pass Holding Guests", "/guests" %>
<%= link_to "All Resorts", "/resorts" %>

<h1>All Resorts</h1>

<% @resorts.each do |resort| %>
  <h3><%= "#{resort.name} - #{resort.created_at}" %></h3>
<% end %>

<%= link_to "New Resort", "/resorts/new" %>